{% load static %}
<footer class="footer footer-dark">
                <div class="footer-middle">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-lg-3">
                                <div class="widget widget-about">
                                    <img src="assets/images/demos/demo-19/logo-footer.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
                                    <p>We are more than just a company that sells games; we aspire to be a bridge between players and developers, building a global gaming community fueled by passion and sharing. </p>

                                    <div class="social-icons">
                                        <a href="https://www.facebook.com/login/?locale=zh_HK" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                        <a href="https://x.com/" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                        <a href="https://www.instagram.com/accounts/login/" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                        <a href="http://youtube.com/" class="social-icon" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                                        <a href="https://www.pinterest.com/login/" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                                    </div><!-- End .soial-icons -->
                                </div><!-- End .widget about-widget -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                                    <ul class="widget-list">
                                        <li><a href={% url "pages:about_us" %}>About us</a></li>
                                        {% comment %} <li><a href="contact.html">Contact us</a></li> {% endcomment %}

                                    </ul><!-- End .widget-list -->
                                </div><!-- End .widget -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <h4 class="widget-title">Terms</h4><!-- End .widget-title -->

                                    <ul class="widget-list">
                                        <li><a href={% url "pages:privacy_policy" %}>Privacy Policy & Legal Info</a></li>
                                    </ul><!-- End .widget-list -->
                                </div><!-- End .widget -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                    <ul class="widget-list">
                                        <li><a href={% url "accounts:login" %}>Log in</a></li>
                                        <li><a href={% url "accounts:register" %}>Register</a></li>
                                        <li><a href={% url "orders:order_create" %}>View Cart</a></li>
                                        <li><a href="#">Supports</a></li>
                                    </ul><!-- End .widget-list -->
                                </div><!-- End .widget -->
                            </div><!-- End .col-sm-6 col-lg-3 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .footer-middle -->

                <div class="footer-bottom">
                    <div class="container">
                        <p class="footer-copyright">Copyright © 2026 GameGame Corporation. All Rights Reserved.</p><!-- End .footer-copyright -->
                        <figure class="footer-payments">
                            <img src={% static "images/payments.png" %} alt="Payment methods" width="272" height="20">
                        </figure><!-- End .footer-payments -->
                    </div><!-- End .container -->
                </div><!-- End .footer-bottom -->
            </footer><!-- End .footer -->