{% block content %}
{% load static%}
<div class="header-bottom sticky-header">
    <div class="container">
        <div class="header-center">
            <nav class="main-nav">
                                <ul class="menu sf-arrows">
<!--Home-->
                                    <li {% if "/" == request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3" {% endif %} >
                                        <a class="nav-link" href={% url "pages:index" %}>Home</a>
                                    </li>
<!--Game Genres-->
                    <li>
                                        <a href={% url 'genres:genre' %} class="sf-with-ul">Game Genres</a>

                                        <div class="megamenu megamenu-md">
                                            <div class="row no-gutters">
                                                <div class="col-md-8">
                                                    <div class="menu-col">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="menu-title">PC Game</div><!-- End .menu-title -->
                                                                <ul>
                                                                    <li><a href="#">RPG</a></li>
                                                                    <li><a href="#">Action</a></li>
                                                                    <li><a href="#">Free to play</a></li>
                                                                    <li><a href="#">Multiplayer</a></li>
                                                                    <li><a href="#"><span>Horror<span class="tip tip-new">New</span></span></a></li>
                                                                </ul>

                                                                <div class="menu-title">Console Game</div><!-- End .menu-title -->
                                                                <ul>
                                                                    <li><a href="category-boxed.html"><span>PC<span class="tip tip-hot">Hot</span></span></a></li>
                                                                    <li><a href="category-fullwidth.html">Console</a></li>
                                                                </ul>
                                                            </div><!-- End .col-md-6 -->

                                                            <div class="col-md-6">
                                                                <div class="menu-title">Accessories</div><!-- End .menu-title -->
                                                                <ul>
                                                                    <li><a href="product-category-boxed.html">Product Category Boxed</a></li>
                                                                    <li><a href="product-category-fullwidth.html"><span>Product Category Fullwidth<span class="tip tip-new">New</span></span></a></li>
                                                                </ul>
                                                                <div class="menu-title">Shop Pages</div><!-- End .menu-title -->
                                                                <ul>
                                                                    <li><a href="cart.html">Cart</a></li>
                                                                    <li><a href="checkout.html">Checkout</a></li>
                                                                    <li><a href="wishlist.html">Wishlist</a></li>
                                                                    <li><a href="dashboard.html">My Account</a></li>
                                                                    <li><a href="#">Lookbook</a></li>
                                                                </ul>
                                                            </div><!-- End .col-md-6 -->
                                                        </div><!-- End .row -->
                                                    </div><!-- End .menu-col -->
                                                </div><!-- End .col-md-8 -->

                                                <div class="col-md-4">
                                                    <div class="banner banner-overlay">
                                                        <a href="category.html" class="banner banner-menu">
                                                            <img src="assets/images/menu/banner-1.jpg" alt="Banner">

                                                            <div class="banner-content banner-content-top">
                                                                <div class="banner-title text-white">Last <br>Chance<br><span><strong>Sale</strong></span></div><!-- End .banner-title -->
                                                            </div><!-- End .banner-content -->
                                                        </a>
                                                    </div><!-- End .banner banner-overlay -->
                                                </div><!-- End .col-md-4 -->
                                            </div><!-- End .row -->
                                        </div><!-- End .megamenu megamenu-md -->
                    </li>
<!--Devices-->
                    <li>
                                        <a href={% url 'devices:device' %} class="sf-with-ul">Devices</a>

                                        <div class="megamenu megamenu-md">
                                            <div class="row no-gutters">
                                                <div class="col-md-8">
                                                    <div class="menu-col">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="menu-title">PC</div><!-- End .menu-title -->
                                                                <ul>
                                                                    <li><a href="#">RPG</a></li>
                                                                    <li><a href="#">Action</a></li>
                                                                    <li><a href="#">Free to play</a></li>
                                                                    <li><a href="#">Multiplayer</a></li>
                                                                    <li><a href="#"><span>Horror<span class="tip tip-new">New</span></span></a></li>
                                                                </ul>

                                                                <div class="menu-title">PlayStation 5</div><!-- End .menu-title -->
                                                                <ul>
                                                                    <li><a href="category-boxed.html"><span>PC<span class="tip tip-hot">Hot</span></span></a></li>
                                                                    <li><a href="category-fullwidth.html">Console</a></li>
                                                                </ul>
                                                            </div><!-- End .col-md-6 -->

                                                            <div class="col-md-6">
                                                                <div class="menu-title">XBOX</div><!-- End .menu-title -->
                                                                <ul>
                                                                    <li><a href="product-category-boxed.html">Product Category Boxed</a></li>
                                                                    <li><a href="product-category-fullwidth.html"><span>Product Category Fullwidth<span class="tip tip-new">New</span></span></a></li>
                                                                </ul>
                                                                <div class="menu-title">Nintendo Switch</div><!-- End .menu-title -->
                                                                <ul>
                                                                    <li><a href="cart.html">Cart</a></li>
                                                                    <li><a href="checkout.html">Checkout</a></li>
                                                                </ul>
                                                                <div class="menu-title">Mobile</div><!-- End .menu-title -->
                                                                <ul>
                                                                    <li><a href="cart.html">Cart</a></li>
                                                                    <li><a href="checkout.html">Checkout</a></li>
                                                                    <li><a href="wishlist.html">Wishlist</a></li>
                                                                    <li><a href="dashboard.html">My Account</a></li>
                                                                    <li><a href="#">Lookbook</a></li>
                                                                </ul>
                                                            </div><!-- End .col-md-6 -->
                                                        </div><!-- End .row -->
                                                    </div><!-- End .menu-col -->
                                                </div><!-- End .col-md-8 -->

                                                <div class="col-md-4">
                                                    <div class="banner banner-overlay">
                                                        <a href="category.html" class="banner banner-menu">
                                                            <img src="assets/images/menu/banner-1.jpg" alt="Banner">

                                                            <div class="banner-content banner-content-top">
                                                                <div class="banner-title text-white">Last <br>Chance<br><span><strong>Sale</strong></span></div><!-- End .banner-title -->
                                                            </div><!-- End .banner-content -->
                                                        </a>
                                                    </div><!-- End .banner banner-overlay -->
                                                </div><!-- End .col-md-4 -->
                                            </div><!-- End .row -->
                                        </div><!-- End .megamenu megamenu-md -->
                    </li>
<!--Accessories-->
                                    <li>
                                        <a href={% url 'accessories:home' %} class="sf-with-ul">Accessories</a>
                                        <ul>
                                            <li><a href={% url 'accessories:home' %} >Home</a></li>
                                        </ul>
                                    </li>
<!--Recommendations-->
                                    <li {% if request.resolver_match.app_name == 'recommendations' %} class="active" {% else %} class="nav-item mr-3" {% endif %}>
                                        <a href={% url "recommendations:recommendation" %} class="sf-with-ul">Recommendations</a>
                                        <div class="megamenu megamenu-md">
                                            <div class="row no-gutters">
                                                <div class="col-md-8">
                                                    <div class="menu-col">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="menu-title">Top 5 Free games</div><!-- End .menu-title -->
                                                                <ul>
                                                                    <li><a href="#">Game 1</a></li>
                                                                    <li><a href="#">Game 2</a></li>
                                                                    <li><a href="#">Game 3</a></li>
                                                                    <li><a href="#">Game 4</a></li>
                                                                    <li><a href="#"><span>Game 5<span class="tip tip-new">New</span></span></a></li>
                                                                </ul>

                                                                <div class="menu-title">Top 5 Paid games</div><!-- End .menu-title -->
                                                                <ul>
                                                                    <li><a href="category-boxed.html"><span>Game 1<span class="tip tip-hot">Hot</span></span></a></li>
                                                                    <li><a href="category-fullwidth.html">Game 2</a></li>
                                                                    <li><a href="#">Game 3</a></li>
                                                                    <li><a href="#">Game 4</a></li>
                                                                    <li><a href="#"><span>Game 5<span class="tip tip-new">New</span></span></a></li>
                                                                </ul>
                                                            </div><!-- End .col-md-6 -->

                                                            <div class="col-md-6">
                                                                <div class="menu-title">Promotions</div><!-- End .menu-title -->
                                                                <ul>
                                                                    <li><a href="product-category-boxed.html">Game 1</a></li>
                                                                    <li><a href="product-category-fullwidth.html"><span>Game 2<span class="tip tip-new">New</span></span></a></li>
                                                                </ul>
                                                                <div class="menu-title">Upcoming delisted</div><!-- End .menu-title -->
                                                                <ul>
                                                                    <li><a href="cart.html">Game 1</a></li>
                                                                    <li><a href="checkout.html">Game 2</a></li>
                                                                    <li><a href="wishlist.html">Game 3</a></li>
                                                                    <li><a href="dashboard.html">Game 4</a></li>
                                                                    <li><a href="#">Game 5</a></li>
                                                                </ul>
                                                            </div><!-- End .col-md-6 -->
                                                        </div><!-- End .row -->
                                                    </div><!-- End .menu-col -->
                                                </div><!-- End .col-md-8 -->

                                                <div class="col-md-4">
                                                    <div class="banner banner-overlay">
                                                        <a href="category.html" class="banner banner-menu">
                                                            <img src="assets/images/menu/banner-1.jpg" alt="Banner">

                                                            <div class="banner-content banner-content-top">
                                                                <div class="banner-title text-white">Last <br>Chance<br><span><strong>Sale</strong></span></div><!-- End .banner-title -->
                                                            </div><!-- End .banner-content -->
                                                        </a>
                                                    </div><!-- End .banner banner-overlay -->
                                                </div><!-- End .col-md-4 -->
                                            </div><!-- End .row -->
                                        </div><!-- End .megamenu megamenu-md -->
                                    </li>
<!--Community-->
                                    <li>
                                        <a href={% url 'community:community_home' %} class="sf-with-ul">Community</a>

                                        <ul>
                                            {% comment %} <li>
                                                <a href="about.html" class="sf-with-ul">About</a>

                                                <ul>
                                                    <li><a href="about.html">About 01</a></li>
                                                    <li><a href="about-2.html">About 02</a></li>
                                                </ul>
                                            </li> {% endcomment %}
                                            {% comment %} <li>
                                                <a href="contact.html" class="sf-with-ul">Contact</a>

                                                <ul>
                                                    <li><a href="contact.html">Contact 01</a></li>
                                                    <li><a href="contact-2.html">Contact 02</a></li>
                                                </ul>
                                            </li> {% endcomment %}
                                            <li><a href={% url 'community:community_home' %}>Home</a></li>
                                        </ul>
                                    </li>
<!--News-->
                                    <li>
                                        <a href={% url 'news:home' %} class="sf-with-ul">News</a>
                                        <ul>
                                            <li>
                                                <a href={% url 'news:home' %}>Home</a>
                                            </li>
                                        </ul>
                                    </li>

                                </ul><!-- End .menu -->
                            </nav><!-- End .main-nav -->
                        </div><!-- End .header-center -->

                        {% comment %} <div class="header-right">
                            <i class="la la-lightbulb-o"></i><p>Clearance Up to 30% Off</p>
                        </div> {% endcomment %}
                    </div><!-- End .container -->
</div><!-- End .header-bottom -->
{% endblock %}