{% extends "base.html" %}
{% load static %}
{% block content%}
        
        <main class="main">
        	<div class="page-header text-center" style="background-image: url('{% static 'images/backgrounds/page-header-bg.jpg' %}')">
        		<div class="container">
        			<h1 class="page-title">News<span>Posts</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href={% url 'news:home' %}>Home</a></li>
                        <li class="breadcrumb-item"><a href={% url 'news:home' %}>News</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Post</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                	<div class="row">
                		<div class="col-lg-9">
                            <article class="entry single-entry">
                                <figure class="entry-media">
                                    {% if item.photo_1 %}
                                        <img src={{item.photo_1.url}} alt={{item.title}}>

                                </figure><!-- End .entry-media -->

                                <div class="entry-body">
                                    <div class="entry-meta">
                                        <span class="entry-author">
                                            by <a href="#">{{ item.author }}</a>
                                        </span>
                                        <span class="meta-separator">|</span>
                                        <a href="#">{{ item.date|date:"b d, Y" }}</a>
                                        <span class="meta-separator">|</span>
                                        <a href="#">2 Comments</a>
                                    </div><!-- End .entry-meta -->

                                    <h2 class="entry-title">
                                        {{ item.title }}
                                    </h2><!-- End .entry-title -->

                                    <div class="entry-cats">
                                        in <a href="#">{{ item.theme }}</a>
                                    </div><!-- End .entry-cats -->


                                    <div class="entry-content editor-content">
                                    {% if item.paragraph_1 %}
                                        <p>{{ item.paragraph_1 }}</p>
                                    {% endif %}

                                    {% if item.paragraph_2 %}
                                        <p>{{ item.paragraph_2 }}</p>
                                    {% endif %}

                                    {% if item.paragraph_3 %}
                                        <p>{{ item.paragraph_3 }}</p>
                                    {% endif %}
                                    </div>


                                    <div class="entry-footer row no-gutters flex-column flex-md-row">
                                        <div class="col-md">
                                            <div class="entry-tags">
                                                <span>Tags:</span> <a href="#">{{ item.theme }}</a>
                                            </div><!-- End .entry-tags -->
                                        </div><!-- End .col -->

                                        <div class="col-md-auto mt-2 mt-md-0">
                                            <div class="social-icons social-icons-color">
                                                <span class="social-label">Share this post:</span>
                                                <a href="https://www.facebook.com/login/?locale=zh_HK" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                                <a href="https://x.com/" class="social-icon social-twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                                <a href="https://www.pinterest.com/login/" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                                                <a href="https://www.linkedin.com/" class="social-icon social-linkedin" title="Linkedin" target="_blank"><i class="icon-linkedin"></i></a>
                                            </div><!-- End .soial-icons -->
                                        </div><!-- End .col-auto -->
                                    </div><!-- End .entry-footer row no-gutters -->
                                </div><!-- End .entry-body -->
                            {% endif %}  
                            </article><!-- End .entry -->
                		</div><!-- End .col-lg-9 -->

                		<aside class="col-lg-3">
                			<div class="sidebar">
<!--advertisements-->
                                {% for ad in advertisements %}
                                <div class="widget widget-banner-sidebar">
                                    <div class="banner-sidebar-title">ad box</div>
                                
                                    <div class="banner-sidebar banner-overlay">
                                        <a href="{{ ad.destination_url }}" target="_blank">
                                            {% if ad.media %}
                                                <img src="{{ ad.media.url }}" 
                                                    alt="{{ ad.project_name }}" 
                                                    style="width: 280px; object-fit: cover;">
                                            {% else %}
                                                <img src="https://placehold.co" 
                                                    alt="Placeholder ad" 
                                                    style="width: 280px; height: 280px; object-fit: cover;">
                                            {% endif %}
                                        </a>
                                    </div>
                                </div>
                                {% empty %}
                                <p>No active advertisements available.</p>
                                {% endfor %}



                			</div><!-- End .sidebar sidebar-shop -->
                		</aside><!-- End .col-lg-3 -->
                	</div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
{% endblock %}