{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('{% static 'images/backgrounds/page-header-bg.jpg' %}')">
        		<div class="container">
        			<h1 class="page-title">Recommended Game<span>Game</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href={% url "pages:index" %}>Home</a></li>
                        <li class="breadcrumb-item"><a>Recommended Game</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Classic</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                	<div class="row">
                		<div class="col-lg-9">
                            {% if recommendations %}
                            {% for game in recommendations %}
                            <article class="entry">
                                <figure class="entry-media">
                                    <a href="#">
                                        <img src="{{game.photo_main.url}}" alt="{{game.title}}">
                                    </a>
                                </figure><!-- End .entry-media -->

                                <div class="entry-body">
                                    <div class="entry-meta">
                                        <span class="entry-author">
                                            by <a href="#">{{game.developer | title}}</a>
                                        </span>
                                        <span class="meta-separator">|</span>
                                        <a>Release Date : {{game.release_date}}</a>
                                        <span class="meta-separator">|</span>
                                        <a>Download Count : {{game.download_count | intcomma}}+</a>
                                    </div><!-- End .entry-meta -->

                                    <h2 class="entry-title">
                                        <a href="single.html">{{game.title}}</a>
                                    </h2><!-- End .entry-title -->

                                    <div class="entry-cats">
                                        Game Type : <a href="#">{{game.game_type | join:", "}}</a>
                                        {% if game.rank_type != 'None' %}
                                        in <a href="#" class='text-warning'>{{game.rank_type}}</a>
                                        {% endif %}
                                    </div><!-- End .entry-cats -->

                                    <div class="entry-content">
                                        <p>{{game.description}}</p>
                                        <a href="single.html" class="read-more">Continue Reading</a>
                                    </div><!-- End .entry-content -->
                                </div><!-- End .entry-body -->
                            </article><!-- End .entry -->
                            {% endfor %}
                            {% endif %}

                            {% if recommendations.has_other_pages %}
                            <div class="row">
                              <div class="col-md-12">
                                <ul class="pagination">
                                  {% if recommendations.has_previous %}
                                  <li class="page-item">
                                    <a class="page-link" href="?page={{recommendations.previous_page_number}}">&laquo;</a>
                                  </li>
                                  {% else %}
                                  <li class="page-item disabled">
                                    <a class="page-link" href="#">&laquo;</a>
                                  </li>
                                  {% endif %}
                                  {% for i in recommendations.paginator.page_range %}
                                  {% if i == recommendations.number %}
                                  <li class="page-item active">
                                    <a class="page-link">{{i}}</a>
                                  </li>
                                  {% else %}
                                  <li class="page-item">
                                    <a class="page-link" href="?page={{i}}">{{i}}</a>
                                  </li>
                                  {% endif %}
                                  {% endfor %}
                                  {% if recommendations.has_next %}
                                  <li class="page-item">
                                    <a class="page-link" href="?page={{recommendations.next_page_number}}">&raquo;</a>
                                  </li>
                                  {% else %}
                                  <li class="page-item disabled">
                                    <a class="page-link" href="#">&raquo;</a>
                                  </li>
                                  {% endif %}
                                </ul>
                              </div>
                            </div>
                            {% endif %}
                		</div><!-- End .col-lg-9 -->

                		<aside class="col-lg-3">
                			<div class="sidebar">

<!--advertisements-->
                                {% for ad in advertisements %}
                                <div class="widget widget-banner-sidebar">
                                    <div class="banner-sidebar-title">ad box</div>
                                
                                    <div class="banner-sidebar banner-overlay">
                                        <a href="{{ ad.destination_url }}" target="_blank">
                                            {% if ad.media %}
                                                <img src="{{ ad.media.url }}" 
                                                     alt="{{ ad.project_name }}" 
                                                     style="width: 280px; object-fit: cover;">
                                            {% else %}
                                                <img src="https://placehold.co" 
                                                     alt="Placeholder ad" 
                                                     style="width: 280px; height: 280px; object-fit: cover;">
                                            {% endif %}
                                        </a>
                                    </div>
                                </div>
                                {% empty %}
                                <p>No active advertisements available.</p>
                                {% endfor %}






                                
                			</div><!-- End .sidebar -->
                		</aside><!-- End .col-lg-3 -->
                	</div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
{% endblock %}