{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('{% static 'images/backgrounds/page-header-bg.jpg' %}')">
        		<div class="container">
        			<h1 class="page-title">Promo Game<span>promotions</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item">Promotions</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Game Event</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                	<div class="row">
                		<div class="col-lg-9">
                            {% if promotions %}
                            {% for promo_game in promotions %}
                            <article class="entry entry-list">
                                <div class="row align-items-center">
                                    <div class="col-md-5">
                                        <figure class="entry-media">
                                            <a href="{% url 'promotions:discount_page' promo_game.id %}">
                                                <img src="{{promo_game.photo_main.url}}" alt="{{promo_game.title}}" style="width: 100%; height: 220px; object-fit: cover; border-radius: 6px;"  >
                                            </a>
                                        </figure><!-- End .entry-media -->
                                    </div><!-- End .col-md-5 -->

                                    <div class="col-md-7">
                                        <div class="entry-body">
                                            <div class="entry-meta">
                                                <span class="entry-author">
                                                    by <a href="#">GameGame</a>
                                                </span>
                                                <span class="meta-separator">|</span>
                                                <a href="#">{{promo_game.updated_at | date:"Y-m-d"}}</a>
                                                <span class="meta-separator">|</span>
                                                <a href="#">Game Discount</a>
                                            </div><!-- End .entry-meta -->

                                            <h2 class="entry-title">
                                                <a href="{% url 'promotions:discount_page' promo_game.id %}">{{ promo_game.title }}</a>
                                            </h2><!-- End .entry-title -->

                                            <div class="entry-date-range" style="font-size: 0.9em; color: #666; margin-bottom: 5px;">
                                                <span>📅 <b>Event Period:</b> 
                                                    {{ promo_game.start_date|date:"Y-m-d H:i" }} 
                                                    <b>To</b> 
                                                    {{ promo_game.end_date|date:"Y-m-d H:i" }}
                                                </span>
                                            </div>                                            
                                            <div class="entry-cats">
                                                Event Status：
                                                {% if promo_game.show_status == 'Live' %}
                                                    <span style="color: green;">🟢 Live</span>
                                                {% elif promo_game.show_status == 'UpComing' %}
                                                    <span style="color: orange;">🟡 UpComing</span>
                                                {% else %}
                                                    <span style="color: red;">🔴 Expired</span>
                                                {% endif %}
                                            </div>                                     
                                            <!-- End .entry-cats -->

                                            <div class="entry-content">
                                                <p>{{promo_game.description}}</p>
                                                <a href="{% url 'promotions:discount_page' promo_game.id %}" class="read-more">Continue Reading</a>
                                            </div><!-- End .entry-content -->
                                        </div><!-- End .entry-body -->
                                    </div><!-- End .col-md-7 -->
                                </div><!-- End .row -->
                            </article><!-- End .entry -->
                            {% endfor %}
                            {% endif %}


                            {% if peomotions.has_other_pages %}
                            <div class="row">
                              <div class="col-md-12">
                                <ul class="pagination">
                                  {% if peomotions.has_previous %}
                                  <li class="page-item">
                                    <a class="page-link" href="?page={{peomotions.previous_page_number}}">&laquo;</a>
                                  </li>
                                  {% else %}
                                  <li class="page-item disabled">
                                    <a class="page-link" href="#">&laquo;</a>
                                  </li>
                                  {% endif %}
                                  {% for i in peomotions.paginator.page_range %}
                                  {% if i == peomotions.number %}
                                  <li class="page-item active">
                                    <a class="page-link">{{i}}</a>
                                  </li>
                                  {% else %}
                                  <li class="page-item">
                                    <a class="page-link" href="?page={{i}}">{{i}}</a>
                                  </li>
                                  {% endif %}
                                  {% endfor %}
                                  {% if peomotions.has_next %}
                                  <li class="page-item">
                                    <a class="page-link" href="?page={{peomotions.next_page_number}}">&raquo;</a>
                                  </li>
                                  {% else %}
                                  <li class="page-item disabled">
                                    <a class="page-link" href="#">&raquo;</a>
                                  </li>
                                  {% endif %}
                                </ul>
                              </div>
                            </div>
                            {% endif %}
                		</div><!-- End .col-lg-9 -->

                		<aside class="col-lg-3">
                			<div class="sidebar">
                     {% for ad in advertisements %}
                        <div class="widget widget-banner-sidebar">
                            <div class="banner-sidebar-title">ad box</div>
                        
                            <div class="banner-sidebar banner-overlay">
                                <a href="{{ ad.destination_url }}" target="_blank">
                                    {% if ad.media %}
                                        <img src="{{ ad.media.url }}" 
                                             alt="{{ ad.project_name }}" 
                                             style="width: 280px; object-fit: cover;">
                                    {% else %}
                                        <img src="https://placehold.co" 
                                             alt="Placeholder ad" 
                                             style="width: 280px; height: 280px; object-fit: cover;">
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                        {% empty %}
                        <p>No active advertisements available.</p>
                        {% endfor %}
                			</div><!-- End .sidebar -->
                		</aside><!-- End .col-lg-3 -->
                	</div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
{% endblock %}