{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GameGame</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href={% static "images/apple-touch-icon.png" %}>
    <link rel="icon" type="image/png" sizes="32x32" href={% static "images/favicon-32x32.png" %}>
    <link rel="icon" type="image/png" sizes="16x16" href={% static "images/icons/favicon-16x16.png" %}>
    <link rel="manifest" href={% static "images/site.html" %}>
    <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href={% static "css/line-awesome.min.css" %}>
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href={% static "css/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "css/owl.carousel.css" %}>
    <link rel="stylesheet" href={% static "css/magnific-popup.css" %}>
    <!-- Main CSS File -->
    <link rel="stylesheet" href={% static "css/lightbox.min.css" %}>
    <link rel="stylesheet" href={% static "css/style.css" %}>
    <link rel="stylesheet" href={% static "css/skin-demo-19.css" %}>
    <link rel="stylesheet" href={% static "css/demo-19.css" %}>
    <link rel="stylesheet" href={% static "css/nouislider.css" %}>

</head>

<body>
    {% include 'partials/_topbar.html' %}
    {% include 'partials/_navbar.html' %}
    {% block content %} {% endblock %}
    {% include 'partials/_footer.html' %}

    <!-- Plugins JS File -->
    <script src={% static "js/jquery.min.js" %}></script>
    <script src={% static "js/bootstrap.bundle.min.js" %}></script>
    <script src={% static "js/jquery.hoverIntent.min.js" %}></script>
    <script src={% static "js/jquery.waypoints.min.js" %}></script>
    <script src={% static "js/superfish.min.js" %}></script>
    <script src={% static "js/owl.carousel.min.js" %}></script>
    <script src={% static "js/bootstrap-input-spinner.js" %}></script>
    <script src={% static "js/jquery.magnific-popup.min.js" %}></script>
    <!-- Main JS File -->
    <script src={% static "js/main.js" %}></script>
    <script src={% static "js/demo-19.js" %}></script>
    <script src={% static "js/lightbox.min.js" %}></script>
</body>
</html>